[Unit]
Description=BT HID Proxy
After=syslog.target network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=python main.py
Restart=always

[Install]
WantedBy=multi-user.target